.panel {
  height: 25vh;
  transition: all 0.3s;
  overflow: hidden;
}

.toggle {
  cursor: pointer;
}
.selected {
  overflow-y: scroll;
  height: 100vh !important;
}
.hide {
  height: 0 !important;
}


/*styling*/
.left-navigation {
  border-right: 1px solid #eaeaea;
}

.panel:not(:last-child) {
  border-bottom: 1px solid #eaeaea;
}

.panel-heading {
  height: 25vh;
  display: flex;
  align-items: center;
}

.panel-number {
  font-size: 40px;
  font-weight: bolder;
  text-align: center;
}

.panel-description {
  font-size: 40px;
  font-weight: bolder;
}

// // .container-fluid > .row { 
// //     height: 100vh;
// // }
// // .left-colum {
// //     border-right: 1px solid gainsboro;
// //     display: flex;
// //     flex-direction: column;
// //     justify-content: space-between;
// //     align-items: center;

// //     .vertical-bot-top {
// //         position: absolute;
// //         bottom: 50px;
// //         display: flex;
// //         transform: rotate(-90deg);
// //     }

// //     .vertical-top-bot {
// //         position: absolute;
// //         top: 50px;
// //         display: flex;
// //         transform: rotate(-90deg);
// //     }
// // }
// // .navigation {
// //     display: flex;
// //     justify-content: flex-end;
    
// //     span {
// //         padding: 0 1rem;
// //     }
// // }

// // .panels {
// //     .row {
// //         background-color: azure;
// //         height: 25vh;
// //         border-bottom: 1px solid #e8e8e8;
// //         padding: 2rem 0;
// //     }
    
// //     .row:last-child{
// //         border-bottom: none;
// //     }

// //     .panel-number {
// //         font-family: 'Titillium Web', sans-serif;
// //         font-size: 3rem;
// //         font-weight: 600;
// //         text-align: center;
// //     }

// //     .panel-description {
// //         font-family: 'Titillium Web', sans-serif;

// //         h1 {
// //             font-size: 3rem;
// //             font-weight: 600;    
// //         }
// //     }

// //     .panel-selection {
// //         font-size: -webkit-xxx-large;
// //         font-weight: 100;
// //         color: #3c3b3f;
// //     }
// // }