<div class="container-fluid">
  <div class="row">
    <div class="col-1 left-navigation">hello</div>
    <div class="col panel-wrapper">
      <div class="row one panel">
        <div class="col">
          <div class="row panel-heading">
            <div class="col panel-number">01</div>
            <div class="col panel-description">About</div>
            <div class="col toggle">+</div>
          </div>
          <div class="row">
            <div class="col">
              <p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row two panel">
        <div class="col">
          <div class="row panel-heading">
            <div class="col panel-number">02</div>
            <div class="col panel-description">Experience & Skils</div>
            <div class="col toggle">+</div>
          </div>
          <div class="row">
            <div class="col">
              <p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row three panel">
        <div class="col">
          <div class="row panel-heading">
            <div class="col panel-number">03</div>
            <div class="col panel-description">Blog</div>
            <div class="col toggle">+</div>
          </div>
          <div class="row">
            <div class="col">
              <p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row four panel">
        <div class="col">
          <div class="row panel-heading">
            <div class="col panel-number">04</div>
            <div class="col panel-description">Contact</div>
            <div class="col toggle">+</div>
          </div>
          <div class="row">
            <div class="col">
              <p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p><p>content</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>