// /* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Mulish', sans-serif !important;
    overflow: hidden;
}

.container-fluid {
    height: 100vh;

    > .row {
        height: inherit;
    }
}