// /* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Mulish', sans-serif !important;
    overflow: hidden;
    background-size: cover;
    // background-image: url('./assets/background1.jpg');
    background-image: url('./assets/background4.png');

}

.container-fluid {
    height: 100vh;

    > .row {
        height: inherit;
    }
}